{% extends "account/base.html" %}
{% load staticfiles %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
  <h1 class="auth__header">
    <img src="{% static 'img/logo_white.png' %}" class="left">
      {% trans "Login" %}
    <img src="{% static 'img/logo_white.png' %}" class="right">
  </h1>

  <div class="socialaccount_ballot">
    {% include "accountinclude/social_providers.html" %}
    <div class="divider"></div>
  </div>
  {% include "socialaccount/snippets/login_extra.html" %}

  <p>No account? Then please <a href="{% url 'account_signup' %}">register</a>.</p>

  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <a class="left secondaryAction" href="{% url 'account_reset_password' %}">
      {% trans "Forgot Password?" %}
    </a>
    <input class="primaryAction" type="submit" value="{% trans 'Login' %}" />
  </form>
{% endblock %}
