{% extends "dashboardinclude/dashboard.html" %}

{% block dashboard_content %}
	{% include 'dashboardinclude/posts_nav.html' %}

	<table class="table table-striped table-bordered table-hover table-posts">
	<tbody data-link="row" class="rowlink">
		{% for post in object_list %}
		<tr>
			<td class="image-cell">
				<a href="{{ post.get_update_url }}">
					<img src="{{ post.image.url }}" class="img-responsive"/>
				</a>
			</td>
			<td>
				<h2>{{ post.title }}</h2>
				<p class="mute">{{ post.headline }}</p>
			</td>
			<td>
				<p>
					<span class="badge">{{ post.all_view_count }} Views</span>
				</p>
				<p>
					<span class="badge">{{ post.today_view_count }} Today</span>
				</p>
			</td>
		</tr>
	{% empty %}
		<div class="text-center jumbotron margin-top" style="background:inherit;">
			<h2>You don't have any posts :( <a href="{% url 'dashboard-post-create'}">
				Create one?</a></h2>
		</div>
	{% endfor %}
  </tbody>
</table>
{% endblock %}
