{% extends "dashboardinclude/dashboard.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Create Travel Blog Story
{% endblock %}

{% block dashboard_content %}
	{% include 'dashboardinclude/posts_nav.html' %}
	{% include "maininclude/tinymce.html" %}

  <div class="well well-post">
    {% include "maininclude/form_status.html" %}
    {% crispy form %}
  </div>
  
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {% include "maininclude/place_autocomplete.html" %}
{% endblock %}