{% extends "dashboardinclude/dashboard.html" %}

{% block dashboard_content %}
	<div class="dashboard-stats">
		<div class="row">
			<section class="col-sm-4">
				<content>{{ object.today_view_count }}</content>
				<label>Views Today</label>
			</section>

			<section class="col-sm-4">
				<content>{{ object.week_view_count }}</content>
				<label>Week Views</label>
			</section>

			<section class="col-sm-4">
				<content>{{ object.month_view_count }}</content>
				<label>Month Views</label>
			</section>
		</div>

		<div class="row">
			<section class="col-sm-4">
				<content>{{ object.article_count }}</content>
				<label>Articles</label>
			</section>

			<section class="col-sm-4">
				<content>{{ object.subscription_count }}</content>
				<label>Subscribers</label>
			</section>

			<section class="col-sm-4">
				<content>{{ object.awesomeness }}</content>
				<label>Awesomeness</label>
			</section>
		</div>
	</div>
{% endblock %}
