{% extends "layouts/3col.html" %}
{% load staticfiles %}

{% block sidelayout_content %}
  <div class="col s12 blog-home">
    <div class="container inner-container">
      <h1 class="center-align">{{personalblog}}</h1>
      {% for post in personalblog.posts.all %}
        {% include "bloginclude/post_preview.html" %}
      {% endfor %}
    </div>
  </div>
  <aside>
    <div id="blog-map"></div>
  </aside>
{% endblock %}

{% block js %}
  {{block.super}}
  <script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      // initializations
      $(".button-collapse").sideNav();

      // Create a map object and specify the DOM element for display.
      var map = new google.maps.Map(document.getElementById('blog-map'), {
        center: {
          lat: {{last_post_with_loc.lat}},
          lng: {{last_post_with_loc.lng}}
        },
        scrollwheel: false,
        zoom: 6
      });

      {% with personalblog.posts.all as post_list %}
        {% include "bloginclude/map_markers.html" %}
      {% endwith %}
    });
  </script>
{% endblock %}
