{% extends "layouts/3col.html" %}

{% block sidelayout_content %}
  <div class="col s12 blog-home">
    <div class="inner-container">
      <h1 class="center-align">{{personalblog}}</h1>

      {% for post in personalblog.posts.all %}
        <img src="{{post.image.url}}">
        <a href="{{post.get_absolute_url}}">{{post.title}}</a>
      {% endfor %}

      <a href="{% url 'blog-home' %}">Blog Home</a>
    </div>
  </div>
  <aside>
    Hello
  </aside>
{% endblock %}


{% block sidelayout_aside %}
  This is the aside
{% endblock %}
