{% extends "layouts/3col.html" %}
{% load staticfiles %}

{% block sidelayout_content %}
  <div class="col s12 blog-home">
    <h1 class="center-align">
      <a class="modal-trigger" href="#blog-description-modal">
        {{personalblog}}
      </a>
    </h1>
    <div class="container inner-container">
      {% for post in personalblog.posts.all %}
        {% include "bloginclude/post_preview.html" %}
      {% endfor %}
    </div>
  </div>
  <aside data-sr="enter right, move 50px">
    <div id="blog-map"></div>
  </aside>

  <!-- Modal Structure -->
  <div id="blog-description-modal" class="modal">
    <div class="modal-content">
      <h4>{{ personalblog.title }}</h4>
      <p>{{ personalblog.description|safe }}</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
{% endblock %}

{% block js %}
  {{block.super}}
  <script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      // initializations
      $(".button-collapse").sideNav();

      // Create a map object and specify the DOM element for display.
      var map = new google.maps.Map(document.getElementById('blog-map'), {
        center: {
          lat: {{last_post_with_loc.lat}},
          lng: {{last_post_with_loc.lng}}
        },
        scrollwheel: false,
        zoom: 6
      });

      {% with personalblog.posts.all as post_list %}
        {% include "bloginclude/map_markers.html" %}
      {% endwith %}
    });
  </script>
{% endblock %}
