{% extends "layouts/2col.html" %}
{% load account %}

{% block sidelayout_content %}
  <i class="material-icons">accessibility</i>
  {% for blog in personalblog_list %}
    <p><a href="{{blog.get_absolute_url}}">{{blog}}</a></p>
  {% endfor %}

  <a href="{% url 'main-home' %}">Home</a>

  {% if user.is_authenticated %}
    <p><a href="{% url 'account_logout' %}">Logout</a></p>
    <p>User: {% user_display user %}</p>
  {% else %}
    <p><a href="{% url 'account_login' %}">Login</a>/<a href="{% url 'account_signup' %}">Register</a></p>
  {% endif %}
{% endblock %}
