{% extends "layouts/2col.html" %}
{% load crispy_forms_tags %}

{% block sidelayout_content %}
  <div class="my-blog">
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#new-blog-post">New Post</a></li>
          <li class="tab col s3"><a href="#my-blog-posts">Posts</a></li>
          <li class="tab col s3"><a href="#my-blog-blog">Blog</a></li>
          <li class="tab col s3"><a href="#my-blog-stats">Stats</a></li>
        </ul>
      </div>
      <div class="inner-content">
        <div id="new-blog-post" class="col s12">
          <h1>Create a new post</h1>
          <div class="container">
            <form method="post" action="{% url 'blog-post-create' %}" enctype="multipart/form-data">
              {% csrf_token %}
              {% crispy post_create_form %}
            </form>
          </div>
        </div>
        <div id="my-blog-posts" class="col s12">
          <div id="inner-my-posts">
            <table class="responsive-table bordered">
              <tbody>
                {% for post in object.posts.all %}
                  <tr id="row-{{post.id}}">
                    <td><a class="btn-primary" href="{{post.get_absolute_url}}">
                      {{post.title}} <i class="material-icons left">arrow_back</i>
                    </a></td>
                    <td>
                      <button class="btn" onclick="showEditPost({{post.id}})">
                        Edit <i class="material-icons right">edit</i>
                      </button>
                    </td>
                    <td>
                      <button class="btn" onclick="openDeleteModal({{post.id}})">
                        Delete <i class="material-icons right">delete</i>
                      </button>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div id="inner-edit-post" class="hide">
            <div class="row">
              <div class="col s2">
                <button class="btn hover-left" onclick="showMyPosts()">
                  All<i class="material-icons left">arrow_back</i>
                </button>
              </div>
              <div class="col s10">
                <h1 id="edit-form-title"></h1>
              </div>
            </div>
            <div class="row">
              <div class="container edit-form-container">
                <!-- dyanamically add form into here -->
              </div>
            </div>
          </div>
        </div>
        <div id="my-blog-blog" class="col s12">Edit {{ object }}</div>
        <div id="my-blog-stats" class="col s12">Coming Soon</div>
      </div>
    </div>
  <div>

  <!-- Delete Confirm Modal -->
  <div id="modal-delete" class="modal">
    {% csrf_token %}
    <div class="modal-content">
      <h4>Are you sure?</h4>
      <p>Deleting this post is irreversible, you won't ever be able to recover it. You can also set it to be not public and no one will be able to view it.</p>
    </div>
    <div class="modal-footer">
      <button class="modal-action modal-close btn-flat" onclick="deletePost()">
        Delete forever <i class="material-icons left">delete</i>
      </button>
    </div>
  </div>
{% endblock %}


{% block js %}
  {{block.super}}
  {% include "maininclude/tinymce.html" %}

  <script>
    var editPostSection = $("#inner-edit-post");
    var myPostsSection = $("#inner-my-posts");
    var editFormContainer = $(".edit-form-container");

    function openDeleteModal(postId){
      $('#modal-delete').data('postId', postId);
      $('#modal-delete').openModal();
    }

    function deletePost(){
      var postId = $("#modal-delete").data("postId");

      $.post("{% url 'blog-post-delete' %}", {
        'postId': postId
      });

      $("#row-" + postId).remove();
    }

    function setData(){
      var postId = editPostSection.data("id");
      var data = $.get('/api/posts/' + postId).then(function(data){
        $("#edit-form-title").text(data.title);

        // insert generated form HTML from API
        var form = $.get('/api/forms/editpost/' + postId + '' ).then(function(data){
          editFormContainer.append(data.html);
        });
      });
    }

    function showEditPost(postId){
      myPostsSection.animate({
        opacity: 0.25,
        height: "toggle"
      }, 300);
      editPostSection.removeClass("hide");
      editPostSection.data("id", postId);

      setData();
      tinymce.init({selector:'textarea'})
    }

    function showMyPosts(){
      myPostsSection.animate({
        opacity: 1,
        height: "toggle"
      }, 300);

      editPostSection.addClass("hide");
      editFormContainer.html("");
      editPostSection.data("id", "");
    }

    $(document).ready(function() {
      $('select').material_select();
      $('.modal-trigger').leanModal();
    });
  </script>
{% endblock %}
