{% extends "layouts/2col.html" %}
{% load staticfiles %}

{% block sidelayout_content %}
  <div class="blog-article">
    <div class="container">
      <section class="blog-article__header">
        <h2>{{post.title}}</h2>
        <img class="img-main" src="{{post.image.url}}">
        <h5 class="headline">{{post.headline}}</h5>
        <div class="divider"></div>
      </section>

      <section class="blog-article__body">
        <p>{{post.body|safe}}</p>
      </section>

      <section class="blog-article__footer row">
        {% with post.blog.owner as author %}
          <div class="col s5 m3">
            {% if author.image %}
              <img src="{{author.image.url}}" class="circle" alt="{{author.first_name}} {{author.last_name}}">
            {% else %}
              <img src="{% static 'img/logo_dark.png' %}" class="circle">
            {% endif %}
          </div>
          <div class="col s7 m9">
            <p class="signature">
              Written by {{ author.get_full_name }} on {{ post.create_date }}
            </p>
            <p class="social-row">
              {% if post.blog.twitter %}
                <a href="https://twitter.com/{{post.blog.twitter}}"> <i class="fa fa-2x fa-twitter"></i></a>
              {% endif %}
              {% if post.blog.facebook %}
                <a href="https://facebook.com/{{post.blog.facebook}}"> <i class="fa fa-2x fa-facebook"></i></a>
              {% endif %}
            </p>
            {% if author.bio %}
              <p>{{ author.bio }}</p>
            {% endif %}
          </div>
        {% endwith %}
      </section>

      <div class="footer-button-container">
        <a class="btn left hover-left" href="{% url 'blog-all-posts' %}">
          All Posts  <i class="material-icons left">arrow_back</i>
        </a>
        <a class="btn right hover-right" href="{{post.blog.get_absolute_url}}">
          <span class="hide-on-small-only">{{post.blog}}</span><span clas="hide-on-med-and-up"> Blog Posts</span> <i class="material-icons right">arrow_forward</i>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
