{% extends "bloginclude/base.html" %}
{% load staticfiles %}

{# inherit this template for full-height column based templates #}

{% block body %}
  <div class="side-layout">
    {% block sidelayout_left %}
      <nav>
        <div class="logo-container hide-on-med-and-down">
          <img class="logo" src="{% static 'img/logo_light.png' %}">
        </div>
        <ul class="hide-on-med-and-down">
          {% include "bloginclude/nav_items.html" %}
          {% if not request.user.is_authenticated %}
            <li>
              <a href="{% url 'account_login' %}">
                <i class="material-icons left">person</i> Login
              </a>
            </li>
          {% endif %}
        </ul>
        {% if request.user.is_authenticated %}
          <ul class="collapsible collapsible-accordion hide-on-small-only">
            <li class="no-push">
              <a class="collapsible-header">Settings
                <i class="icons material-icons left">settings</i>
              </a>
              <div class="collapsible-body">
                <ul>
                  {% if request.user.user_blog %}
                    <li>
                      <a {% if page == "myblog" %}class="active"{% endif %} href="{% url 'blog-my-blog' %}">
                        <i class="material-icons left">settings</i> My Blog
                      </a>
                    </li>
                  {% else %}
                    <li>
                      <a {% if page == "create" %}class="active"{% endif %} href="{% url 'blog-create' %}">
                        <i class="material-icons left">add</i> Create
                      </a>
                    </li>
                  {% endif %}
                  <li>
                    <a {% if page == "profile" %}class="active"{% endif %} href="{% url 'main-profile-update' %}">
                      <i class="material-icons left">person</i> Me
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'account_logout' %}">
                      <i class="material-icons left">lock</i> Logout
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        {% endif %}
        <ul id="slide-out" class="side-nav">
          {% include "bloginclude/nav_items.html" %}
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse">
          <i class="mdi-navigation-menu"></i>
        </a>
      </nav>
    {% endblock %}

    {% block sidelayout_right %}{% endblock %}
  </div>
{% endblock %}

{% block js %}
  {{block.super}}
  <script type="text/javascript">
    $(document).ready(function(){
      $(".button-collapse").sideNav();
    });
  </script>
{% endblock %}
