{% extends "bloginclude/base.html" %}
{% load staticfiles %}

{# inherit this template for full-height column based templates #}

{% block body %}
  <div class="side-layout">
    {% block sidelayout_left %}
      <nav>
        <div class="logo-container hide-on-med-and-down">
          <img class="logo" src="{% static 'img/logo_light.png' %}">
        </div>
        <ul class="hide-on-med-and-down">
          {% include "bloginclude/nav_items.html" %}
          {% if not request.user.is_authenticated %}
            <li>
              <a href="{% url 'account_login' %}">
                <i class="material-icons left">person</i> Login
              </a>
            </li>
          {% endif %}
        </ul>
        {% if request.user.is_authenticated %}
          <ul class="collapsible collapsible-accordion hide-on-small-only">
            <li class="no-push">
              <a class="collapsible-header">Settings
                <i class="icons material-icons left">settings</i>
              </a>
              <div class="collapsible-body">
                <ul>
                  {% if request.user.user_blog %}
                    <li>
                      <a {% if page == "myblog" %}class="active"{% endif %} href="{% url 'blog-my-blog' %}">
                        <i class="material-icons left">description</i> My Blog
                      </a>
                    </li>
                  {% else %}
                    <li>
                      <a {% if page == "create" %}class="active"{% endif %} href="{% url 'blog-create' %}">
                        <i class="material-icons left">add</i> Create
                      </a>
                    </li>
                  {% endif %}
                  <li>
                    <a {% if page == "profile" %}class="active"{% endif %} href="{% url 'main-profile-update' %}">
                      <i class="material-icons left">person</i> Me
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'account_logout' %}">
                      <i class="material-icons left">lock</i> Logout
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        {% endif %}
        <ul id="slide-out" class="side-nav">
          {% include "bloginclude/nav_items.html" %}
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse">
          <i class="mdi-navigation-menu"></i>
        </a>
      </nav>
    {% endblock %}

    {% block sidelayout_right %}{% endblock %}
    <div id="feedback-modal" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>Help Us Help You</h4>
        <div class="row">
          <p class="col s12">We want to make this the best travel blogging platform, but we need help from YOU. Please let us know if you find any bugs or have any ideas that you would like to see implemented.</p>
        </div>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="name" type="text" value="{{request.user.get_full_name}}">
                <label for="name">Name (optional)</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">mail</i>
                <input id="email" type="text" value="{{request.user.email}}">
                <label for="email">Email (optional)</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">create</i>
                <textarea id="feedback-textarea" class="materialize-textarea"></textarea>
                <label for="feedback-textarea">Feedback (required, Duh!)</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect btn-flat" onclick="sendFeedback()">
          <i class="material-icons right">send</i>
          Send
        </a>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  {{block.super}}
  <script type="text/javascript">
    $(document).ready(function(){
      $(".button-collapse").sideNav();
      $('.modal-trigger').leanModal();
    });

    var sendFeedback = function(){
      console.log('sending feedback...');
      Materialize.toast('Feedback sent, thanks!', 3000);

      // clear feedback textarea
      $("#feedback-textarea").val("");
    }
  </script>
{% endblock %}
