{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <meta charset="utf-8">
      <title>Travel Blog Wave</title>

      <link rel="stylesheet" href="{% static 'Materialize/dist/css/materialize.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}

    {% block js %}
      <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'materialize/dist/js/materialize.min.js' %}"></script>
    {% endblock %}
  </body>
</html>
