{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}Travel Blog Wave{% endblock %}
        </title>
        {% include "maininclude/installs.html" %}
        {% block stylesheets %}
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>

            <!--<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />-->

            <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
            <link rel="icon" href="{% static 'img/logo.ico' %}">
        {% endblock %}
        {% block javascript %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

            <!--<script src="{% static 'js/jquery.min.js' %}"></script>-->
            <!--<script src="{% static 'js/bootstrap.min.js' %}"></script>-->

            <script src="{% static 'js/script.js' %}"></script>
        {% endblock %}
        {% block meta_tags %}
            <meta name="description" content="Search Travel Blogs by Country, City, Place, or Topic or create your
            travel blog using a top of the line travel blogging platform.">
            <meta name="robots" content="index, follow">
            <meta charset="UTF-8">
            <meta name="title" content="Travel Blog Wave | Create and Follow Travel Blogs">
            <meta name="viewport" content="width=400, initial-scale=1.0">
        {% endblock %}
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% block header %}
            {% include "maininclude/header.html" %}
        {% endblock %}
        <div id="wrap">
            <div id="main" class="container-full" role="main">
                {% block main %}{% endblock %}
            </div>
        </div>
        {% block footer %}
            {# allow removal of footer. Used when displaying 100% height map #}
            {% include "maininclude/footer.html" %}
        {% endblock %}
    </body>
</html>