<script type="text/javascript">
   function initialize() {
    var input = document.getElementById('place-search');
    var autocomplete = new google.maps.places.Autocomplete(input);

    google.maps.event.addListener(autocomplete, 'place_changed', function () {
      // set the place_id field to the Google Place ID
      var place = autocomplete.getPlace(),
          place_id = place.place_id;

      $("#home-search").attr("href", "/explore/map/" + place_id + "/")
    });
   }
   google.maps.event.addDomListener(window, 'load', initialize);
</script>
