{% load static from staticfiles %}
<!-- twitter share -->
<li>
  <a target="_blank" href="https://twitter.com/intent/tweet?hashtags=tbwave&original_referer={{ request.get_absolute_uri }}&tw_p=tweetbutton&url={{ request.get_absolute_uri }}&via=travelblogwave">
    <img src="{% static 'img/social/twitter_logo.png' %}" alt="Travel Blog Wave Twitter"></img></a>
</li>

<!-- facebook share -->
<li>
  <a target="_blank" href="https://www.facebook.com/sharer.php?app_id=701025629975208&sdk=joey&u={{ request.build_absolute_uri }}&display=popup&ref=plugin">
    <img src="{% static 'img/social/facebook_logo.png' %}" alt="Travel Blog Wave Facebook"></img></a>
</li>

<!-- google+ share -->
<li>
  <a target="_blank" rel="Publisher" href="https://plus.google.com/share?url={{ request.build_absolute_uri }}" class="hidden-xs">
    <img src="{% static 'img/social/google_logo.png' %}" alt="Travel Blog Wave Google+"></img></a>
</li>