
/*
  1. Transforms
*/

// ===== 1. TRANSFORMS ===== //
$offset: 15px;

@mixin transform($transform){
  transition: $transition;

  &:hover {
    transform: $transform;
  }
}

.push-right{
  @include tranform(translateX($offset));
}
