// materialize overrides
$primary-color: #2988bc;
$secondary-color: #ED8C72;

// brand colors
$brand-light-gray: #eee;
$brand-medium-gray: #777;

$dark-texture: url("/static/img/textures/texture_dark.png") repeat;
$medium-texture: url("/static/img/textures/texture_medium.png") repeat;
$light-texture: url("/static/img/textures/texture_light.png") repeat;

$transparent: transparentize(white, 1);


// property defaults
$border-radius: 5px;
$transition: all 0.5s ease;
