@import 'variables';
@import 'materialize/materialize';
@import 'fonts';


/*
  1. Global
  2. Hover
  3. Main
  4. Blog
*/


// ===== 1. GLOBAL ===== //
img {
  width: 100%;
  height: auto;
}

nav { background-color: rgba(0,0,0,0.7); }

.no-padding { padding: 0; }

@media(max-width:$small-screen){
  .nav-icons {
    i { line-height: $navbar-height-mobile; }
  }
}


// ===== 2. HOVER ===== //
$movement-size: 10px;

@mixin hover-transform($transform) {
  transition: transform 0.5s ease;

  &:hover {
    transform: $transform;
  }
}

.hover-right { @include hover-transform(translateX($movement-size)) }
.hover-left { @include hover-transform(translateX(-$movement-size)) }


// ===== 3. MAIN ===== //
.page-home {
  section {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .section-heading {
    width: 100%;
    text-align: center;
    font-weight: 200;
  }

  #home-map {
    width: 100%;
    height: 400px;
  }
}

.page-start {
  .tabs {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  form {
    // background-color: $brand-light-gray;
    // border-radius: $border-radius;
  }
}


// ===== 4. BLOG ===== //
