@import 'variables';
@import 'materialize/materialize';
@import 'fonts';


/*
  1. Global
  2. Hover
  3. Main
  4. Blog
*/


// ===== 1. GLOBAL ===== //
img {
  width: 100%;
  height: auto;
}

nav { background: transparentize(black, 0.2); }

footer { background: $dark-texture; }

// textures
.light-texture { background: $light-texture; }
.medium-texture { background: $medium-texture; }
.dark-texture { background: $dark-texture; }

.no-padding { padding: 0; }

.nav-transparent {
  background-color: $transparent;
  box-shadow: none;
}

.brand-logo {
  $spacing: 10px;

  @mixin logo-img($height) {
    img {
      width: $height - $spacing;
      padding-bottom: $spacing/2 - 2px;
      padding-top: $spacing/2;
    }
  }

  @include logo-img($navbar-height);

  @media(max-width:$small-screen){
    @include logo-img($navbar-height-mobile);
  }
}

@media(max-width:$small-screen){
  .nav-icons {
    i { line-height: $navbar-height-mobile; }
  }
}


// ===== 2. HOVER ===== //
$movement-size: 10px;

@mixin hover-transform($transform) {
  transition: transform 0.5s ease;

  &:hover {
    transform: $transform;
  }
}

.hover-right { @include hover-transform(translateX($movement-size)) }
.hover-left { @include hover-transform(translateX(-$movement-size)) }


// ===== 3. MAIN ===== //
.page-home {
  section {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .section-heading {
    width: 100%;
    text-align: center;
    font-weight: 200;
  }

  #home-map {
    width: 100%;
    height: 400px;
  }
}

.page-start {
  .tabs {
    @extend .light-texture;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  form {
    border-radius: $border-radius;
    padding: 10px;

    button { margin-bottom: 10px; }
  }
}


// ===== 4. BLOG ===== //
