@import 'variables';
// @import 'hover';
@import 'materialize/materialize';
@import 'fonts';


/*
  1. Global
  2. Hover
  3. Main
  4. Blog
  5. Side Layout
  6. Auth
*/


// ===== 1. GLOBAL ===== //
.full-height {
  height: 100%;
  min-height: 100%;
}


body, html { @extend .full-height; }

img {
  width: 100%;
  height: auto;
}

nav { background: $dark-transparent; }

footer { background: $dark-texture; }

ul.horizontal {
  li { display: inline; }
}

// textures
.light-texture { background: $light-texture; }
.medium-texture { background: $medium-texture; }
.dark-texture { background: $dark-texture; }

.no-padding { padding: 0; }

.nav-transparent {
  background-color: $transparent;
  box-shadow: none;
}

.brand-logo {
  $spacing: 10px;

  @mixin logo-img($height) {
    img {
      width: $height - $spacing;
      padding-bottom: $spacing/2 - 2px;
      padding-top: $spacing/2;
    }
  }

  @include logo-img($navbar-height);

  @media(max-width:$small-screen){
    @include logo-img($navbar-height-mobile);
  }
}

.accent-text {
  color: $brand-medium-gray;
  font-style: italic;
}

.btn-primary {
  @extend .btn;
  background-color: $primary-color;

  &:hover {
    background-color: $primary-color-light;
  }
}

@media(max-width:$small-screen){
  .nav-icons {
    i { line-height: $navbar-height-mobile; }
  }
}


// ===== 2. HOVER ===== //
$movement-size: 10px;

@mixin hover-transform($transform) {
  transition: transform 0.5s ease;

  &:hover {
    transform: $transform;
  }
}

.hover-right { @include hover-transform(translateX($movement-size)) }
.hover-left { @include hover-transform(translateX(-$movement-size)) }


// ===== 3. MAIN ===== //
.page-home {
  section {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .section-heading {
    width: 100%;
    text-align: center;
    font-weight: 200;
  }

  #home-map {
    width: 100%;
    height: 400px;
  }
}

.page-start {
  .tabs {
    @extend .light-texture;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  form {
    border-radius: $border-radius;
    padding: 10px;

    button { margin-bottom: 10px; }
  }
}


// ===== 4. BLOG ===== //
.article-container {
  h1 { font-size: 2.3em; }

  img {
    transition: $transition;

    &:hover {
      @extend .z-depth-2;
    }
  }
}

.search-form {
  button, a { margin-top: 20px;}
}

.blog-map-container {
  height: 100%;

  #all-blog-map {
    width: 100%;
    height: 100%;
  }
}

.all-blog-home {
  // blog home page for all blogs
}

.blog-home {
  padding: 1em;
}

.blog-article {
  $footer-button-padding: 10px;
  margin-bottom: 20px;

  @media(max-width:$small-screen){
    .footer-button-container {
      margin-bottom: 10px;

      a {
        padding-left: $footer-button-padding;
        padding-right: $footer-button-padding;
      }
    }
  }
}

.blog-article__header{
  .img-main {
    @extend .z-depth-3;
  }

  .headline {
    @extend .accent-text;
    text-align: center;
  }
}

.blog-article__body{

}

.blog-article__footer{
  @extend .z-depth-2;

  text-align: center;
  padding: 10px;

  .signature { @extend .accent-text; }

  .social-row {
    text-align: center;

    i { padding: 5px; }
  }
}

.all-posts {
  $fixed-nav-height: 70px;
  $fixed-background-color: white;

  .fixed {
    position: fixed;
    top: 0;
    height: $fixed-nav-height;
    width: 100%;
    background-color: $fixed-background-color;
    border-bottom: 1px solid darken($fixed-background-color, 5%);
  }

  .inner-content {
    margin-top: $fixed-nav-height;
  }
}

.all-blogs {
  .img-blog {
    background: $light-texture;
    transition: $transition;

    &:hover { @include filter(grayscale(50%)); }
  }
}


// ===== 5. SIDE LAYOUT ===== //
.side-layout {
  $nav-width: 15%;
  $aside-width: 30%;
  $i-line-height: 2.5em;

  @extend .full-height;

  nav {
    background: #333;
    ul {
      li {
        i { line-height: $i-line-height; }
      }
    }
  }

  main {
    @extend .full-height;
    overflow-y: scroll;
  }

  @media(min-width: $small-screen){
    overflow-y: hidden;

    nav {
      height: 100%;
      min-height: 100%;
      width: $nav-width;
      position: fixed;

      ul {
        li {
          display: block;
          width: 100%;
          transition: $transition;

          a {
            font-size: 1.5em;
            font-weight: 200;

            &.active {
              background-color: $tertiary-color;
              color: #333;
              font-weight: 400;
            }
          }

          &:hover {
            transform: translateX(15px);
          }
        }
      }

      .logo-container {
        text-align: center;

        padding-right: 20%;
        padding-left: 20%;
      }
    }

    main {
      margin-left: $nav-width;

      &.col2 { width: (100 - $nav-width); }
      &.col3 {
        width: (100 - $nav-width - $aside-width);
        margin-right: 0;

        aside {
          height: 100%;
          width: $aside-width;
          position: fixed;
          right: 0;
          background: $brand-light-gray;
        }
      }
    }

    aside {
      position: fixed;
      right: 0;
      height: 100%;
      width: $aside-width;

      #blog-map {
        height: 100%;
        width: 100%;
      }
    }
  }
}


// ===== 6. AUTHORIZATION ===== //
// override django all auth styles

.auth {
  background: $light-texture;
  margin-bottom: 0;

  h1 {
    font-size: 3em;
    margin-top: 0;
  }

  .options {
    @extend .horizontal;

    .left { @extend .hover-left;}
    .right { @extend .hover-right;}
  }

  .upper {
    padding: 10px;
    margin: 10px;
    text-align: center;

    img { width: 40%; }
  }

  .lower {
    @extend .z-depth-3;
    background: white;
    padding: 5px;
    border-radius: $border-radius;
  }
}

.auth__content {
  p { text-align: left; }

  input[type="submit"],
  button[type="submit"]{
    @extend .btn;
    @extend .right;
  }

  .socialaccount_providers {
    img { border-radius: $border-radius; }
  }
}
