<li>
  <a {% if page == "posts" %}class="active"{% endif %} href="{% url 'blog-all-posts' %}">
    <i class="material-icons left">library_books</i> Posts
  </a>
</li>
<li>
  <a {% if page == "map" %}class="active"{% endif %} href="{% url 'blog-map' %}">
    <i class="material-icons left">map</i> Map
  </a>
</li>
<li>
  <a class="modal-trigger" href="#feedback-modal">
    <i class="material-icons left">send</i> Feedback
  </a>
</li>

<div class="hide-on-med-and-up">
  {% if request.user.is_authenticated %}
    {% if request.user.user_blog %}
      <li>
        <a {% if page == "myblog" %}class="active"{% endif %} href="{% url 'blog-my-blog' %}">
          <i class="material-icons left">description</i> My Blog
        </a>
      </li>
    {% else %}
      <li>
        <a {% if page == "create" %}class="active"{% endif %} href="{% url 'blog-create' %}">
          <i class="material-icons left">add</i> Create
        </a>
      </li>
    {% endif %}
    <li>
      <a {% if page == "profile" %}class="active"{% endif %} href="{% url 'main-profile-update' %}">
        <i class="material-icons left">person</i> Me
      </a>
    </li>
    <li>
      <a href="{% url 'account_logout' %}">
        <i class="material-icons left">lock</i> Logout
      </a>
    </li>
  {% else %}
    <li>
      <a href="{% url 'main-start' %}">Login <i class="material-icons left">person</i></a>
    </li>
  {% endif %}
</div>
