<li>
  <a {% if page == "posts" %}class="active"{% endif %} href="{% url 'blog-all-posts' %}">
    <i class="material-icons left">library_books</i> Posts
  </a>
</li>
<li>
  <a {% if page == "blogs" %}class="active"{% endif %} href="{% url 'blog-all-blogs' %}">
    <i class="material-icons left">whatshot</i> Blogs
  </a>
</li>
<li>
  <a {% if page == "map" %}class="active"{% endif %} href="{% url 'blog-map' %}">
    <i class="material-icons left">map</i> Map
  </a>
</li>
<li>
  <a {% if page == "profile" %}class="active"{% endif %} href="{% url 'main-profile-update' %}">
    <i class="material-icons left">person</i> Me
  </a>
</li>

{% if request.user.user_blog %}
  <li>
    <a {% if page == "myblog" %}class="active"{% endif %} href="{% url 'blog-my-blog' %}">
      <i class="material-icons left">settings</i> My Blog
    </a>
  </li>
{% else %}
<li>
  <a {% if page == "create" %}class="active"{% endif %} href="{% url 'blog-create' %}">
    <i class="material-icons left">add</i> Create Blog
  </a>
</li>
{% endif %}
