{% load static from staticfiles %}

<nav class="navbar navbar-inverse" id="navbar-main" role="navigation">
  <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% url 'main-home' %}"><img src="{% static 'img/logo_light.png' %}" /></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
    <li><a href="{% url 'internal-feedback' %}">Feedback</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    {% if not user.profile.user_blog %}
      <li><a href="{% url 'blog-create' %}"><span class="glyphicon glyphicon-plus"></span> Create Blog</a></li>
    {% else %}
      <li><a href="{% url 'blog-dashboard' user.profile.user_blog.slug %}">Dashboard <span class="glyphicon glyphicon-dashboard"></span></a></li>
    {% endif %}

    {% if not user.is_authenticated %}
      <li><a href="{% url 'account_login' %}"><span class="glyphicon glyphicon-lock"></span> Login</a></li>
    {% else %}
      <li class="dropdown">
        {% if request.user.socialaccount_set.all.0.get_avatar_url %}
        <a href="#" class="dropdown-toggle" style="padding:0;" data-toggle="dropdown">
        <img id="navbar-profile-img" class="img-circle" src="{{ request.user.socialaccount_set.all.0.get_avatar_url }}" />
        {% else %}
        <a href="#" class="dropdown-toggle {% if " data-toggle="dropdown">
        Hi, {{ user.username }} <span class="glyphicon glyphicon-cog"></span></a>
        {% endif %}

        <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'blog-favorites' %}">Favorites</a></li>
        <li><a href="{% url 'account_logout' %}"><span class="glyphicon glyphicon-lock"></span>  Logout</a></li>
        </ul>
      </li>
    {% endif %}
    </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>