/***** Registration *****/
.account-container {
    text-align:center;
}
.account-container input {
    font-size:200%;
}
.socialaccount_ballot img {
    margin:15px;
    display:inline;
}
.login-or {
    margin-bottom:15px;
    font-size:150%;
}
.account-container input {
    border-radius:5px;
    text-align:center;
    border: 2px solid #eeeeee;
}
.account-container ul {
    list-style-type:none;
}
.account-container ul.errorlist li {
    color:red;
    padding-left:0;
}
@media(max-width:768px) {
    .account-container input {
        font-size:120%;
    }
}