
.account-container {
  text-align:center;
  background: $brand-lightest;
  margin-bottom: -25px;

  form {
    margin-top:15px;
  }
  input {
    font-size:200%;
    border-radius:5px;
    text-align:center;
    border: 2px solid #eeeeee;
  }
  ul {
    list-style-type:none;

    .errorlist li {
      color:red;
      padding-left:0;
    }
  }
  
  .panel-heading {
    background: $brand-medium;
    color: $brand-lightest;
  }
  .panel-body {
    > p > a {
      color: $brand-light;
      font-weight: bold;
    }
  }
  .socialaccount_ballot img {
      margin:15px;
      display:inline;
  }
}


@media(max-width:768px) {
    .account-container input {
        font-size:120%;
    }
}
