/***** JQuery Autocomplete *****/
.ui-menu-item {
  background-color:#fff;
  border-bottom: 1px solid #eeeeee;
  padding:5px;

  &:hover {
  	background-color:#eee;
  }
}
.ui-autocomplete {
	/* I don't know why, but width of any px puts it to be the size of the input */
  list-style-type: none;
  padding-left:0;
  width:1px;
}