/*
Styles that are applied to general blogs. These styles are typically NOT
applied to individual blog posts, those are defined int he Post section
*/

/***** Map *****/
#map-canvas {
  height: 100%;
  width: 100%;
}
#map-container {
  height: 100%;
  float:right;
  overflow:hidden;
}
#map-side {
  overflow:scroll;
  height:100%;
}
.infowindow-title {
  text-align: center;
}
#map-canvas a:hover {
  text-decoration:none;
}

/***** Blog *****/
#blog-container {
  height:100%;
}
#blog-header-row {
  margin-bottom:0;

  img {
	  max-height: 100px;
	  display: inline;
	}
}


/***** Post *****/
/*
css styles that are specific to individual posts
*/
.post-list-container  {
  padding:30px;

  img {
	  opacity:0.9;

	  &:hover {
	  	opacity:1;
    }
	}
}
#post-title {
  text-align: center;
}
#post-body {
	img {
	  display:block;
	  width:100%;
	  max-width:100%;
	  height:auto;
  }

  .caption {
	  text-align: center;
	  font-style: italic;
	}

	.img-half {
	  width:50%;
	  float:right;
	  margin-left: 20px;
	  margin-bottom: 20px;
	}
}
#post-fixed-footer {
  background-color: $dark-transparent;
}
#post-main-image {
  margin-left:auto;
  margin-right:auto;
  padding:20px;
  border-radius:26px;
  max-height:600px;
}
#post-footer {
  padding:30px 0;
}
.no-pic {
  height:150px;
}
#other-posts {
  img {
	  opacity: 0.8;

	  &:hover {
      opacity:1;
    }
	}
}

@media(max-width:768px) {
  #post-body {
    .img-half {display: none;}
  }
}