/***** General *****/
/* sticky footer */
html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
}
#main {
	padding-bottom: 180px;
	height:100%;
}
/* must be same height as the footer */
footer {
  position: relative;
  margin-top: -180px; /* negative value of footer height */
  height: 180px;
  clear:both;
  padding: 50px;
  color: white;
  background-color: $dark-transparent;

  a:link,
  a:visited {
    color: #eee;
  }
}

/* end sticky footer */

html {
  font-family: "Open Sans", sans-serif;
}
h1, h2 {
  font-weight: 300;
}
legend h1 {
  text-align:center;
}
#wrap {
  padding-bottom:25px;
}
.no-padding {
  padding:0;
}
.mute {
  opacity: 0.6;
}
#navbar-main {
  border-radius:0;
  background-color:$brand-darkest;
  margin-bottom:0;

  li a:visited,
  li a:link {
    color:#fff;
  }

  li.dropdown li a:visited,
  li.dropdown li a:link {
    color:$brand-darkest;
  }
}

#navbar-main li a:hover,
footer a:hover {
  color:$brand-lightest;
}

.fb-like {
  padding-top:15px;
}

#navbar-profile-img {
  height:40px;
  margin:5px;
}
.navbar-header img {
  height:40px;
}

img {
  margin-left:auto;
  margin-right:auto;
}

#background {
  background-image: url("http://dev.travelblogwave.media.s3.amazonaws.com/img/front.jpg");
  background-size: cover;
  height:600px;
  width:100%;
}
.info-row span {
  font-size:500%;
  margin:25px 0;
}
.margin-top {
  margin-top:20px;
}
#recent-carousel .carousel-inner img {
}
#recent-post-row {
  background-color:#eee;
  margin-bottom: -30px;
  padding-bottom: 60px;

  h2 {
    font-size:300%;
    margin-bottom:20px;
  }
}

.adsbygoogle {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.img-info-window {
  width: 300px;
}

/***** social *****/
.social-buttons, .social-icons {
  img {
    opacity:0.7;

    &:hover {
      opacity:1;
    }
  }
}
.social-buttons > div {
  text-align: center;
}
.social-icons {
  display:inline;

  img {
    display:inline;
    width: 50px;
  }
}

/***** Forms *****/
.form-group div.checkbox {
  padding-top:15px;
}

.info-row {

}

a {
  text-decoration:none;
  color: $brand-darkest;

  &:hover {
    color: $brand-light;
  }
}

.info-row {
  div {
    transition: $transition;
    border-radius: $border-radius-lg;
  }

  a:hover {
    color: white;

    div {
      background-color: $brand-dark;
    }
  }
}

@media(max-width:768px) {
  #navbar-main li.dropdown li a:visited,
  #navbar-main li.dropdown li a:link {
    color:#fff;
  }
  .img-info-window {
    max-width: 150px;
  }
}
