/***** Search *****/
/*
Styles that apply to search functionality. These searches are applied mainly on
the home page and the explore page.
*/
.search-overlay {
  position: absolute;
  background: rgba(61,62,66,0.7);
  left:50%;
  margin-left:-500px;
  top: 250px;
  width: 1000px;
  padding:50px;
  border-radius:5px;
  transition: all 0.5s ease-out;
}
.search-overlay-text {
  color:white;
  font-size:220%;
  font-weight:300;
  text-align: center;
}
.search-overlay input,
#explore-search-box input {
  width:100%;
  display: block-inline;
  text-align: center;
  font-size: 150%;
  border:0;
  border-radius:5px;
}
#explore-search-box-row {
  background: rgba(61,62,66,0.7);
}
.explore-search-padding {
  /* applied when the explore search bar turns to fixed */
  padding-top: 83px;
}
.fixed-top {
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
}
#explore-container > div.row:nth-of-type(odd),
#wave-posts > div.row:nth-of-type(odd){
  background-color:#eee;
  border-radius: 5px;
}
#explore-container {
  margin-top: 30px;
}

@media (max-width:992px) {
  .search-overlay {
    margin-left:-350px;
    top: 150px;
    width: 700px;
  }
}

@media (max-width:768px) {
  .search-overlay {
    margin-left:-150px;
    top: 150px;
    width: 300px;

    .drop {
      top: 400px;
    }
  }
  .search-overlay-text {
    font-size: 150%;
  }
  #search-overlay-form > div ,
  #explore-search-box form > div {
    margin-top:15px;
  }
  .explore-search-padding {
    padding-top: 192px;
  }
}
