/* Colors Light to Dark #B1D0DD, #588497, #27576B, #092F3F, #010E13 */

$brand-lightest: #f8f5f2;
$brand-light: #ed8c72;
$brand-medium: #2988bc;
$brand-dark: lighten(#101010, 5%);
$brand-darkest: #101010;

$medium-transparent: rgba(61,62,66,0.7);
$dark-transparent: rgba(0,0,0,0.8);

$transition: all 0.3s ease-in-out;
$border-radius: 5px;
$border-radius-lg: 10px;
