{% extends "bloginclude/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Create Travel Blog
{% endblock %}

{% block main %}
    {% include "maininclude/tinymce.html" %}
    <div class="container container-padding">
        {% if not user.profile.user_blog %}
        <form method="post" enctype="multipart/form-data">
            {% crispy form %}
        </form>
        {% include "maininclude/form_status.html" %}
        {% else %}
            <div class="text-center">
                <h3>You already have a blog on this account. If you'd like to create a new blog, you'll need to create a new account.
            </div>
        {% endif %}
    </div>
{% endblock %}