{% extends "bloginclude/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Create Travel Blog
{% endblock %}

{% block main %}
  {% include "maininclude/tinymce.html" %}
  <div class="container container-padding">
    <div class="col-sm-6 col-sm-offset-3">
      {% if not user.profile.user_blog %}
        {% crispy form %}
        {% include "maininclude/form_status.html" %}
      {% else %}
        <div class="text-center">
          <h3>You already have a blog on this account. If you'd like to create a new blog, you'll need to create a new account.</h3>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}