{% extends "bloginclude/base.html" %}
{% load static %}

{% block title %}
    Search Travel Blogs
{% endblock %}

{% block extra_head %}
    <script src="{% static 'js/explore.js' %}"></script>
    {% include "maininclude/place_autocomplete.html" %}
    {% include "maininclude/topic_autocomplete.html" %}
{% endblock %}

{% block main %}
    <div class="jumbotron" style="margin-bottom:0;">
        <h1 class="text-center">Filter to fit your interest</h1>
    </div>
    <div id="explore-search-box-row" class="row-padding">
        <div id="explore-search-box">
            <div class="container">
                <form method="post">
                    {% csrf_token %}
                    <div class="col-md-6">
                        <input id="place-search" name="place" value="{{ request.POST.place }}"
                               placeholder="Filter by Place" onblur="this.form.submit();" />
                    </div>
                    <div class="col-md-6">
                        <input id="topic-search" name="topic" value="{{ request.POST.topic }}"
                               placeholder="Filter by Topic" onblur="this.form.submit();" />
                    </div>
                    <button class="hidden" type="submit">submit</button>
                </form>
            </div>
        </div>
    </div>
    <div id="explore-container" class="container">
        {% if posts %}
            {% include "bloginclude/post_list.html" %}
        {% else %}
            <div class="row row-padding text-center">
                <h1>There are no posts for your search criteria. Try something else?</h1>
            </div>
        {% endif %}
    </div>
{% endblock %}