{% extends "bloginclude/base.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block meta_tags %}
  {{ block.super }}
  {% if post.image %}
    <meta property="og:image" content="{{ post.image.url }}"/>
  {% endif %}
{% endblock %}

{% block meta_title %}
  <meta name="title" content="{{ post.blog.title }} | {{ post.title }}">
{% endblock %}

{% block meta_description %}
  <meta name="description" content="{{ post.headline }}">
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static 'js/post_footer.js' %}"></script>
{% endblock %}

{% block main %}
  <div class="margin-top container">
    <div id="post-content" class="well">
      <div class="container">

        <div class="col-sm-8">
          <div class="row">
            <h1 id="post-title">{{ post.title }}</h1>
            {% if post.image %}
              <img src="{{ post.image.url }}" class="img-responsive" id="post-main-image" alt="{{ post.image_description }}"/>
            {% endif %}
          </div>
          <div class="row">
            {% include 'maininclude/social_share.html' %}
            <div id="post-body">
              {{ post.body|safe }}
            </div>
            <h4 class="text-center alert alert-success">Read more from <a href="{{ post.blog.get_absolute_url }}">{{ post.blog }}</a></h4>
          </div>
          <div class="row">
            {% with post.get_prev_blog_post as thumbnail_post %}
              <div class="col-sm-6">
              {% include "bloginclude/thumbnail_post.html" %}
              </div>
            {% endwith %}
            {% with post.get_next_blog_post as thumbnail_post %}
              <div class="col-sm-6">
              {% include "bloginclude/thumbnail_post.html" %}
              </div>
            {% endwith %}
          </div>
          <div class="row" id="post-footer">
            <h4>Written by {{ post.author.username }} on {{ post.create_date }}
            {% include "bloginclude/favorite.html" %}</h4>
            <div class="hidden-xs">
              {% include "google_ads/leaderboard.html" %}
            </div>
            {% include "bloginclude/disqus.html" %}
          </div>
        </div>

        <div class="col-sm-3 hidden-xs">
          {% if alert_message %}
            {% if status == "error" %}
              <div class="alert alert-danger">
                {{ alert_message }}
              </div>
            {% elif status == "success" %}
              <div class="alert alert-success">
                {{ alert_message }}
              </div>
            {% endif %}
          {% endif %}
          {% if not request.user.email in post.blog.subscriber_list %}
            {# dont show if the user is already signed up #}
            {% crispy form %}
          {% endif %}
          {% if other_posts %}
            <div id="other-posts" class="margin-top">
              <div class="panel panel-default">
                <div class="panel-heading">
                <h2 class="text-center">Recent</h2>
                </div>
                <div class="panel-body">
                {% for media_post in other_posts %}
                  {% include "bloginclude/media_post.html" %}
                {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
          <div class="margin-top">
            {% with post.blog as blog %}
            {% include "maininclude/twitter_timeline.html" %}
            {% endwith %}
          </div>
          <div class="margin-top">
            {% include "google_ads/skyscraper.html" %}
          </div>

        </div>
      </div>
    </div>    
  </div>
  {% include "bloginclude/post_footer.html" %}
{% endblock %}