{% extends "maininclude/base.html" %}
{% load staticfiles %}

{% block body %}
  <div class="auth row">
    <div class="upper col m6 offset-m3">
      <div class="lower">
        {% if messages %}
          <div>
            <strong>Messages:</strong>
            <ul>
              {% for message in messages %}
                <li>{{message}}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        <div class="row">
          <div class="auth__content col s12">
            {% block content %}{% endblock %}
          </div>
        </div>
        <div class="row">
          <div class="auth__extra-body col s12">
            {% block extra_body %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
